@import 'styles/theme';

.secondary-button {
  &:hover {
    transform: translateY(-2px);
  }
  &:disabled {
    cursor: default;
    opacity: 0.4;
    &:hover {
      transform: none;
    }
  }
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 35%;
  max-width: 30%;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  height: 35px;
  border: black;
  align-self: center;
  justify-self: center;
  justify-content: center;
  border-radius: $borderRadius;
  cursor: pointer;
  opacity: 1;
  color: $background;
  background-color: mediumaquamarine;
  transition: all 0.3s ease;
}